[submodule "Captain.Common"]
path = "Captain.Common"
url = https://github.com/CaptainApp/Captain.Common

[submodule "Captain.Plugins.BuiltIn"]
path = "Captain.Plugins.BuiltIn"
url = https://github.com/CaptainApp/Captain.Plugins.BuiltIn

[submodule "Captain.Application.NativeHelpers"]
path = "Captain.Application.NativeHelpers"
url = https://github.com/CaptainApp/Captain.Application.NativeHelpers

[submodule "Captain.Application"]
path = "Captain.Application"
url = https://github.com/CaptainApp/Captain.Application