<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyHook" version="2.7.6270" targetFramework="net45" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="2.0.0" targetFramework="net45" />
  <package id="SharpDX" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net47" />
</packages>